@{
    ViewBag.Title = "Editor";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE Autocompletion demo</title>
    <link rel="stylesheet" href="../../Content/Site.css"/>
    <link rel="stylesheet" href="../../Content/bootstrap.css" />
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
</head>

<body>
    <!-- Navigationbar -->
    <div id="fullwidth1pxheight">
        <div id="tinybox" onclick="onf()"></div>
        <div onclick="full()" id="f11" class="clickdivf11f11r">FullScreen</div>
        <div onclick="revert()" id="f11r" class="clickdivf11f11r">Window Mode</div>
        <!-- Background color -->
        <div class="dropdown">
            <p onclick="myFunction()" class="dropbtn">Färgschema</p>
            <div id="myDropdown" class="dropdown-content">
                <p onclick="white()" class="p-aligncenter">White</p>
                <p onclick="black()" class="p-aligncenter">Dark</p>
                <p onclick="grayblue()" class="p-aligncenter">Lightgray</p>
            </div>
        </div>
        <!-- Resolution -->
        <div class="dropdown">
            <p onclick="myFunctionRes()" class="dropbtn">Upplösning</p>
            <div id="myDropdownRes" class="dropdown-content">
                <p onclick="Res1()" class="p-aligncenter">600 x 450</p>
                <p onclick="Res2()" class="p-aligncenter">900 x 600</p>
                <p onclick="Res3()" class="p-aligncenter">1200 x 800</p>
            </div>
        </div>
        <!-- Pre scheme -->
        <div class="dropdown">
            <p onclick="myFunctionSch()" class="dropbtn">Förintställt</p>
            <div id="myDropdownSch" class="dropdown-content">
                <p onclick="white(); Res1()" class="p-aligncenter">Stark</p>
                <p onclick="black(); Res2()" class="p-aligncenter">Dark</p>
                <p onclick="grayblue(); Res3()" class="p-aligncenter">Bark</p>
            </div>
        </div>
        <!-- open and close settings -->
        <div id="boxie" onclick="settingsinfo()"></div>
        <div id="boxieR" onclick="settingsinfoR()"></div>
    </div>
    <!-- Show navigation bar -->
    <div id="twinbox">
        <div id="tinyboxtwin" onclick="onft()"></div>
    </div>
    <!-- Settings -->
    <div id="showcontent">
        <h2 id="CommandHeader">Settings</h2>
        <p class="spanCommandP"><span onclick="full()" class="spanpointer">Fullscreen</span></p>
        <p class="spanCommandP"><span onclick="revert()" class="spanpointer">Window Mode</span></p>
        <p class="spanCommandP"><span onclick="black()" class="spanpointer">Dark background</span></p>
        <p class="spanCommandP"><span onclick="white()" class="spanpointer">White background</span></p>
        <p class="spanCommandP"><span onclick="grayblue()" class="spanpointer">Lightgray background</span></p>
        <p class="spanCommandP"><span onclick="Res1()" class="spanpointer">600 x 450 Resolution</span></p>
        <p class="spanCommandP"><span onclick="Res2()" class="spanpointer">900 x 600 Resolution</span></p>
        <p class="spanCommandP"><span onclick="Res3()" class="spanpointer">1200 x 800 Resolution</span></p>
    </div>
    <!-- Text editor begins -->
    <h1 id="de">Text editor</h1>
    <div id="editor"></div>


    

    <!-- Javascript externals -->
    <!-- load ace -->
    <script src="../../no-fonflikt/ace.js"></script>
    <!-- load ace language tools -->
    <script src="../../no-fonflikt/ext-language_tools.js"></script>
    <!-- load external js file -->
    <script src="../../no-fonflikt/doc.js"></script>
    <!-- load external js file -->
    <script src="../../Scripts/documentjs.js"></script>
</body>

</html>