@{
    ViewBag.Title = "Editor";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE Autocompletion demo</title>
    <link rel="stylesheet" href="../../Content/Site.css"/>
</head>

<body>
    <!-- Navigationbar -->
    <div id="fullwidth1pxheight">
        <div id="tinybox" onclick="onf()"></div>
        <!-- Displays the editor in full screen -->
        <div onclick="full()" id="f11" class="clickdivf11f11r">FullScreen</div>
        <!-- Reverts the editor into window mode -->
        <div onclick="revert()" id="f11r" class="clickdivf11f11r">Window Mode</div>
        <!-- Background color -->
        <div class="dropdown">
            <p onclick="myFunction()" class="dropbtn">Background</p>
            <div id="myDropdown" class="dropdown-content">
                <p onclick="white()" class="p-aligncenter">White</p>
                <p onclick="black()" class="p-aligncenter">Dark</p>
                <p onclick="grayblue()" class="p-aligncenter">Lightgray</p>
            </div>
        </div>
        <!-- Resolution -->
        <div class="dropdown">
            <p onclick="myFunctionRes()" class="dropbtn">Resolution</p>
            <div id="myDropdownRes" class="dropdown-content">
                <p onclick="Res1()" class="p-aligncenter">600 x 450</p>
                <p onclick="Res2()" class="p-aligncenter">900 x 600</p>
                <p onclick="Res3()" class="p-aligncenter">1200 x 800</p>
            </div>
        </div>
        <!-- Select different programming languages -->
        <div class="dropdown">
            <p onclick="languages()" class="dropbtn">Select language</p>
            <div id="myDropdownLan" class="dropdown-content">
                <p class="p-aligncenter" id="w110" onclick="html()">HTML</p>
                <p class="p-aligncenter" id="w111" onclick="css()">CSS</p>
                <p class="p-aligncenter" id="w112" onclick="javascript()">JavaScript</p>
                <p class="p-aligncenter" id="w113" onclick="csharp()">C#</p>
                <p class="p-aligncenter" id="w114" onclick="php()">PHP</p>
                <p class="p-aligncenter" id="w115" onclick="sql()">SQL</p>
            </div>
        </div>
        <!-- Select different editor themes -->
        <div class="dropdown">
            <p onclick="theme()" class="dropbtn">Select Theme</p>
            <div id="myDropdownTheme" class="dropdown-content">
                <p class="p-aligncenter" onclick="monokai()">monokai</p>
                <p class="p-aligncenter" onclick="iplastic()">iplastic</p>
                <p class="p-aligncenter" onclick="cobalt()">cobalt</p>
                <p class="p-aligncenter" onclick="tomorrow()">tomorrow</p>
            </div>
        </div>
        <!-- open and close settings -->
        <div id="boxie" onclick="settingsinfo()"></div>
        <div id="boxieR" onclick="settingsinfoR()"></div>
    </div>
    <!-- Show navigation bar -->
    <div id="twinbox">
        <div id="tinyboxtwin" onclick="onft()"></div>
    </div>
    <!-- Settings -->
    <div id="showcontent">
        <h2 id="CommandHeader">Settings</h2>
        <p class="spanCommandP"><span onclick="full()" class="spanpointer">Fullscreen</span></p>
        <p class="spanCommandP"><span onclick="revert()" class="spanpointer">Window Mode</span></p>
        <p class="spanCommandP"><span onclick="black()" class="spanpointer">Dark background</span></p>
        <p class="spanCommandP"><span onclick="white()" class="spanpointer">White background</span></p>
        <p class="spanCommandP"><span onclick="grayblue()" class="spanpointer">Lightgray background</span></p>
        <p class="spanCommandP"><span onclick="Res1()" class="spanpointer">600 x 450 Resolution</span></p>
        <p class="spanCommandP"><span onclick="Res2()" class="spanpointer">900 x 600 Resolution</span></p>
        <p class="spanCommandP"><span onclick="Res3()" class="spanpointer">1200 x 800 Resolution</span></p>
        <p class="spanCommandP"><span onclick="html()" class="spanpointer">HTML</span></p>
        <p class="spanCommandP"><span onclick="css()" class="spanpointer">CSS</span></p>
        <p class="spanCommandP"><span onclick="javascript()" class="spanpointer">JavaScript</span></p>
        <p class="spanCommandP"><span onclick="csharp()" class="spanpointer">C#</span></p>
        <p class="spanCommandP"><span onclick="php()" class="spanpointer">PHP</span></p>
        <p class="spanCommandP"><span onclick="sql()" class="spanpointer">SQL</span></p>
        <p class="spanCommandP"><span onclick="monokai()" class="spanpointer">monokai theme</span></p>
        <p class="spanCommandP"><span onclick="iplastic()" class="spanpointer">iplastic theme</span></p>
        <p class="spanCommandP"><span onclick="cobalt()" class="spanpointer">cobalt theme</span></p>
        <p class="spanCommandP"><span onclick="tomorrow()" class="spanpointer">tomorrow theme</span></p>
    </div>
    <!-- Text editor begins -->
    <h1 id="de">Text editor - <span id="spanlanguageholder">JavaScript</span></h1>
    <pre id="editor"></pre>
    
    


    

    <!-- Javascript externals loading in ace editor js -->
    <script src="~/ace/ace.js"></script>
    <script src="~/ace/ext-language_tools.js"></script>
    <!-- load external js file: document functions -->
    <script src="~/no-fonflikt/doc.js"></script>
    <!-- load external js file: document functions -->
    <script src="~/Scripts/documentjs.js"></script>
</body>

</html>