@{
    ViewBag.Title = "Code editor by Apirix";
}

<div id="consoleError"></div>

<head>
    <!-- Viewsport, desctription, ignore default mobile stylings, author -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Code editor">
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="The Fantastic 4 Kalmar style">
    <meta charset="UTF-8">
    <!-- Title of the webbsite -->
    <title>Apirix editor prototype</title>
    <!-- Cascading Style sheets -->
    <link href="~/Content/FileManagerDesign.css" rel="stylesheet" />
    <link href="~/Content/styleIndex.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../../Content/bootstrap.css" />
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
    <link href="~/mycss/StyleSheet1.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Content/Site.css" />
    <link rel="stylesheet" href="../../Content/style67.css" />

    <link href="~/Content/bootstrapnonscroll.css" rel="stylesheet" />
</head>
<div class="col-md-12" id="Container">
    <div class="col-md-12" id="bodyArea">
        <div class="col-md-2" id="headerAreaFirstDiv">
            <!-- open and close settings -->
            <div id="boxie"></div>
            <div id="boxieR"></div>
            <!-- Settings -->
            <div id="showcontent">
                <h2 id="CommandHeader">Settings</h2>
                <div class="myboxopenarea">
                    <div class="anitfloat">
                        <div class="clickmetoopenLang" id="thirdopen"></div>
                        <p class="textOpener">Editor coding languages</p>
                    </div>
                    <div class="anitfloat" id="imtestfloating">
                        <p class="spanCommandP"><span title="Changes editor language to HTML" id="html1" class="spanpointer">HTML</span></p>
                        <p class="spanCommandP"><span title="Changes editor language to CSS" id="css1" class="spanpointer">CSS</span></p>
                        <p class="spanCommandP"><span title="Changes editor language to JavaScript" id="js1" class="spanpointer">JavaScript</span></p>
                        <p class="spanCommandP"><span title="Changes editor language to C#" id="cs1" class="spanpointer">C#</span></p>
                        <p class="spanCommandP"><span title="Changes editor language to PHP" id="phps" class="spanpointer">PHP</span></p>
                        <p class="spanCommandP"><span title="Changes editor language to SQL" id="sqls" class="spanpointer">SQL</span></p>
                    </div>
                    <div class="anitfloat">
                        <div class="clickmetoopenThemes" id="secondopen"></div>
                        <p class="textOpener">Editor themes</p>
                    </div>
                    <div class="anitfloat" id="testfloatThemes">
                        <p class="spanCommandP"><span title="Changes editor theme to monokai(dark)" id="mn1" class="spanpointer">monokai theme</span></p>
                        <p class="spanCommandP"><span title="Changes editor theme to iplastic(bright)" id="isp1" class="spanpointer">iplastic theme</span></p>
                        <p class="spanCommandP"><span title="Changes editor theme to cobalt(dark-blue)" id="cb1" class="spanpointer">cobalt theme</span></p>
                        <p class="spanCommandP"><span title="Changes editor theme to tomorrow(white)" id="tm1" class="spanpointer">tomorrow theme</span></p>
                    </div>
                </div>
            </div>
            <button type="button" class="btn">
                <span class="glyphicon glyphicon-floppy-saved"></span>Save
            </button>
            <div id="form_button">
                @using (Html.BeginForm())
                {
                    // <input type="text" id="testData" />
                    <input style="display:none" type="text" id="testData" name="reportName" />
                    <input type="submit" value="Run preview" id="preview_button" />
                }
            </div>
        </div>
        <div class="col-md-10" id="HeaderAreaSecondDiv">
            <div id="tabs">
                <ul id="sortable">
                    <li><a href="#tabs-1">Tab 1</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2" id="hierarchy">
            <div id="editor-box">
                <div id="ram">
                    <ol id="FileManager"></ol>
                </div>
            </div>
        </div>
        <div class="col-md-10" id="editorArea">
            <pre id="editor"></pre>
        </div>
        <div class="col-md-10" id="consoleArea">
            <div id="term"></div>
        </div>
    </div>
</div>
<!-- Kod nedan ska bytas ut och sättas över -->
<!-- Kod nedan ska bytas ut och sättas över -->
<!-- Kod nedan ska bytas ut och sättas över -->














<!-- JavaScript files begins -->
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="~/ace/ace.js"></script>
<script src="~/ace/ext-language_tools.js"></script>
<script src="~/myjs/terminal.js"></script>
<script src="~/myjs/header.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<!-- JavaScript bootstrap document -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/myjs/tabs.js"></script>
<script src="~/Scripts/FileManagement.js"></script>
<!-- JavaScript document that handles functions, settings functions and similiar -->
<script src="~/no-fonflikt/doc.js"></script>
<script src="~/Scripts/autoSave.js"></script>
<script src="~/myjs/loadTheTerminal.js"></script>
<script src="~/Scripts/VariableChecks.js"></script>