@{
    ViewBag.Title = "Home Page";
}


   






    <h1 id="DocumentHeader">IDE Prototype</h1>
    <pre id="editor" style="height:300px">
       
</pre>


    <div style="width:100%;max-height:100px;min-height:100px;height:100px; max-width:100%; background-color:black;">
        Our First Prototype Of Apirix IDE  |  Current Date:
    </div>




<script src="~/ace/ace.js"></script>
<script src="~/ace/ext-language_tools.js"></script>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");

    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
    
</script>

<script src="~/Scripts/VariableChecks.js"></script>