
@{
    ViewBag.Title = "Home Page";
       
}
<link href="~/Content/FileManagerDesign.css" rel="stylesheet" />



    <style>
        #textarea2 {
            width: 1500px;
            height: 150px;
        }
    </style>




<link href="~/Content/styleIndex.css" rel="stylesheet" />

<div id="consoleError"></div>


<head>
    <meta charset="UTF-8">
    <title>ACE Autocompletion demo</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../../Content/Site.css" />
    <link rel="stylesheet" href="../../Content/bootstrap.css" />
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
    <link href="~/mycss/StyleSheet1.css" rel="stylesheet" />

</head>

<div id="fullwidth1pxheight">
    <div id="tinybox" onclick="onf()"></div>
    <div onclick="full()" id="f11" class="clickdivf11f11r">FullScreen</div>
    <div onclick="revert()" id="f11r" class="clickdivf11f11r">Window Mode</div>
    <div class="dropdown">
        <p onclick="myFunction()" class="dropbtn">Färgschema</p>
        <div id="myDropdown" class="dropdown-content">
            <p onclick="white()" class="p-aligncenter">white</p>
            <p onclick="black()" class="p-aligncenter">black</p>
            <p onclick="grayblue()" class="p-aligncenter">grayblue</p>
        </div>
    </div>
    <div class="dropdown">
        <p onclick="myFunctionRes()" class="dropbtn">Upplösning</p>
        <div id="myDropdownRes" class="dropdown-content">
            <p onclick="Res1()" class="p-aligncenter">600 x 450</p>
            <p onclick="Res2()" class="p-aligncenter">900 x 600</p>
            <p onclick="Res3()" class="p-aligncenter">1200 x 800</p>
        </div>
    </div>
    <div class="dropdown">
        <p onclick="myFunctionSch()" class="dropbtn">Förintställt</p>
        <div id="myDropdownSch" class="dropdown-content">
            <p onclick="white(); Res1()" class="p-aligncenter">Stark</p>
            <p onclick="black(); Res2()" class="p-aligncenter">Dark</p>
            <p onclick="grayblue(); Res3()" class="p-aligncenter">Bark</p>
        </div>
    </div>
</div>
   
<h1 id="DocumentHeader">Apirix IDE Prototype</h1>
<p>
    <meta charset="utf-8" />

    <button type="button" class="btn">
        <span class="glyphicon glyphicon-floppy-saved"></span> File Saved
    </button>
    <span id="msg"></span>
    <span id="errormess"></span>
    <span>

        <!--<span id="img-unChecked">...</span>-->
        <img id="img-check" src="~/img/good_or_tick.png" width="20" height="20" hidden="hidden" />
    </span>
</p>

<div class='fileMenu'>
    
    <button id="add_tab">Create New File</button>

    <button id="DeleteFileButton">Delete File</button>
    
    
    
    </div>

@*<div id="dialog2" title="Tab data">
    <form>
        <fieldset class="ui-helper-reset">
            <label for="tab_title">Filetype</label>
            <input type="text" name="tab_title" id="tab_title" placeholder="javascript,c# or html" class="ui-widget-content ui-corner-all">

        </fieldset>
    </form>
</div>*@

<div id="dialog" title="Create New File">
    <form>
        <fieldset class="ui-helper-reset">
            
            <label>Filename</label>
            <input type="text" name="tab_title" id="tab_title" placeholder="Name" class="ui-widget-content ui-corner-all">
            
            <label>Syntax</label>
            <select id="createTabDropdown">
                <option value="HTML">HTML</option>e
                <option value="CSS">CSS</option>
                <option value="C#">C#</option>
                <option value="jJAVASCRIPT">JAVASCRIPT</option>
            </select>

        </fieldset>
    </form>
</div>

       
@*<button id="add_tab"><img src="~/pics/plus.png" style="width:35px; height:35px;"/></button>*@

<div id="tabs">
    <ul id="sortable">
        
    </ul>

    </div>



    @using (Html.BeginForm())
    {

        //  <input type="text" id="testData" />
        <input style="display:none" type="text" id="testData" name="reportName" />
        <input type="submit" />
    }
       
<pre id="editor" style="height:300px">
</pre>






<div id="term"></div>

<ol id="FileManager" class="sortable"></ol>

<div style="width:100%;max-height:100px;min-height:100px;height:100px; max-width:100%; background-color:black;">
    <div id="error"></div>
</div>


    
    
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="~/ace/ace.js"></script>
<script src="~/ace/ext-language_tools.js"></script>


<script src="~/myjs/terminal.js"></script>
<script src="~/myjs/header.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/myjs/tabs.js"></script>
<script src="~/Scripts/FileManagement.js"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");

    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true

    });
</script>

<script src="~/Scripts/autoSave.js"></script>
    


<script src="~/myjs/loadTheTerminal.js"></script>





<script src="~/Scripts/VariableChecks.js"></script>
