
    @{
        ViewBag.Title = "Home Page";
       
    }



    <style>
        #textarea2 {
            width: 1500px;
            height: 150px;
        }
    </style>




    <link href="~/Content/styleIndex.css" rel="stylesheet" />
    <h1 id="DocumentHeader">IDE Prototype</h1>
    <div id="consoleError"></div>
    <p>

        <button type="button" class="btn">
            <span class="glyphicon glyphicon-floppy-saved"></span> File Saved
        </button>
        <span id="msg"></span>
        <span id="errormess"></span>
        <span>

            <!--<span id="img-unChecked">...</span>-->
            <img id="img-check" src="~/img/good_or_tick.png" width="20" height="20" hidden="hidden" />
        </span>
    </p>



    //view
    @using (Html.BeginForm())
    {

        //  <input type="text" id="testData" />
        <input style="display:none" type="text" id="testData" name="reportName" />
        <input type="submit" />
    }

<pre id="editor" style="height:300px">
</pre>
  




   

   
   
    <script src="~/ace/ace.js"></script>
    <script src="~/ace/ext-language_tools.js"></script>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/autoSave.js"></script>
