@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/FileManagerDesign.css" rel="stylesheet" />

<link href="~/Content/styleIndex.css" rel="stylesheet" />
<h1 id="DocumentHeader">IDE Prototype</h1>
<div id="consoleError"></div>
<p>

    <button type="button" class="btn">
        <span class="glyphicon glyphicon-floppy-saved"></span> File Saved
    </button>
    <span id="msg"></span>
    <span id="errormess"></span>
    <span>
   
        <!--<span id="img-unChecked">...</span>-->
        <img id="img-check" src="~/img/good_or_tick.png" width="20" height="20" hidden="hidden" /></span>
</p>




<script src="~/Scripts/jquery-1.10.2.js"></script>

    <h1 id="DocumentHeader">IDE Prototype</h1>
    <pre id="editor" style="height:300px">
       
</pre>


<ol id="FileManager"></ol>

    <div style="width:100%;max-height:100px;min-height:100px;height:100px; max-width:100%; background-color:black;">
   <div id="error"></div>
    </div>




<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/ace/ace.js"></script>
<script src="~/ace/ext-language_tools.js"></script>
<script src="~/Scripts/FileManagement.js"></script>

        <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");

    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true

    });
    </script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/autoSave.js"></script>
    

<script src="~/Scripts/VariableChecks.js"></script>