


/*Style for the file tree*/
/* Just some base styles not needed for example to function */
, html { font-family: Verdana, Arial, Helvetica, sans-serif; }

body, form, ul, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}
/*body { background-color: #606061; color: #ffffff; margin: 0; }*/
img { border: none; }
p
{
	font-size: 1em;
	margin: 0 0 1em 0;
}

/*html { font-size: 100%; /* IE hack */ }
/*body { font-size: 1em; /* Sets base font size to 16px */ }
/*table { font-size: 100%; /* IE hack */ }
input, select, textarea, th, td { font-size: 1em; }
	
/* CSS Tree menu styles */
ol.FileManager
{
	padding: 0 0 0 30px;
	width: 300px;
}
	li 
	{ 
		position: relative; 
		margin-left: -15px;
		list-style: none;
	}
	li.file
	{
		margin-left: -1px !important;
	}
		li.file a
		{
			background: url(Icons/document.png) 0 0 no-repeat;
			color: #000;
			padding-left: 21px;
			text-decoration: none;
			display: block;
            font-family:Consolas;
		}
		li.file a[href *= 'pdf']	{ background: url(Icons/document.png) 0 0 no-repeat; }
		li.file a[href *= 'html']	{ background: url(Icons/document.png) 0 0 no-repeat; }
		li.file a[href $= 'css']	{ background: url(Icons/document.png) 0 0 no-repeat; }
		li.file a[href $= 'javascript']		{ background: url(Icons/JSIcon16X16.png) 0 0 no-repeat; }
	li input
	{
		position: absolute;
		left: 0;
		margin-left: 0;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 0;
       
	}
		li input + ol
		{
            background-position: left center;
			background: url(Icons/toggle-small-expand.png) 40px 0 no-repeat;
			margin: -0.938em 0 0 -44px; /* 15px */
			height: 1em;
		}
		li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
	li label
	{
         font-family:Consolas;
        background-position: left center;
		background: url(Icons/folder-horizontal.png) 15px 1px no-repeat;
		cursor: pointer;
		display: block;
		padding-left: 37px;
	}

	li input:checked + ol
	{
        background-position: left center;
		background: url(Icons/toggle-small.png) 40px 5px no-repeat;
		margin: -1.25em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
		li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
		li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }










        body {
    overflow:scroll;
}
#FileManager{
    list-style-type: none;
}
#FileManager ol{

}
.file{
    text-decoration:none;
    cursor:pointer;
}
.file:hover:not(.selectedFile){
    color:darkgray;
}
.selectedFile{
    color:red !important;
}
.ui-selected{
    border:5px solid black;
}
.NameChangeInput{
    color:black;
    position:relative;
    cursor:text;
    display:block;
    width:150px;
    height:50px;
    opacity:1;

}
/*Css Alex*/

#editor-box{
    position:absolute;
 overflow:hidden;
   margin-top:50px;
    width:100%;
    height:auto;
     min-height: 100% !important;
}
#editor{
    
    display: inline-block;
    width:80%;
    height:90%;
    padding-top:20px;
}
#FileManager{
      
    
    display: inline-block;

    
}

#ram{
        -webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.75);
    float:left;
    /*border-radius: 4px;*/
    
     
    border:solid 1px;
    border-color:black;
    height: 100%;
    width:150px;
     overflow-x:scroll;
     overflow-y:auto;
    background-color:#9B9B9B;
    /*box-shadow: inset 0 0 1em black, 0 0 1em black;*/
     
}
#ram a{
    margin-top:20px;
    margin-right:10px;
}
#ram li{
    margin-top:10px;
    margin-right:10px;
   
} /*
.terminal{
     position:absolute;
   bottom:0;
   width:100%;
   height:60px; 
      box-shadow: inset 0 0 1em black, 0 0 1em black;
}*/

/*style for scrollbar*/
::-webkit-scrollbar {
    width: 12px;
    
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgb(255, 255, 255); 
   
    /*border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); 
    
}


/*END style for scrollbar*/


.fileMenuButton{
    display:block;
    width:100%
}
.fileMenu {
    background-color:white;
    position:absolute;
    z-index:999;
    display:none;
}