#textarea2 {
            width: 1500px;
            height: 150px;
        }

/*Tabs CSS BEGINING*/

#dialog label, #dialog input {
        display: block;
    }

    #dialog label {
       
        margin-top: 0.5em;
    }

    #dialog input, #dialog textarea {
        width: 95%;
        height: auto;
    }

    #tabs {
        width:79.50%;
      
        /*position: absolute;*/
        display: inline-block;
        padding-left:0;
-webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.75);
    }

        #tabs li .ui-icon-close {
            float: left;
            margin: 0.1em 0.2em 0 0;
            cursor: pointer;
        }

    #add_tab {
        cursor: pointer;
    }

    /*#sortable {
        
        list-style-type: none;
            border-right-color:silver;
        border-top-color:silver;
        border-bottom-color:silver;
  
        width:100%;
        background:#303030;
  
      

    }*/

        #sortable li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 0em;
            font-size: 1.0em;
            height: 15px;
           
        }

            #sortable li span {
                position: absolute;
                margin-left: -1.3em;
            }


    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: 0.0em 1em;
        text-decoration: none;
        margin: -0.1em 0em;
       
    }

    .ui-tabs{
            padding:  0 0.1em;
            
    }

   

    /*Tabs CSS END*/



    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  
    padding: 0em 1em; 
    text-decoration: none;
    
}
    .ui-tabs {
        width:60%;    
     
    
    /* padding: .2em; */
}
    .ui-widget-header {
    border: 1px solid #aaaaaa;
    border-color:darkgray;
    background: #9B9B9B 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
}
  

.ui-corner-all {
    border-radius: 0px;
}
/*Button preview*/


#preview_button {
   
    
	-moz-box-shadow:inset 0px 1px 0px 0px #8ab876;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8ab876;
	box-shadow:inset 0px 1px 0px 0px #8ab876;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5bcc26), color-stop(1, #598f3e));
	background:-moz-linear-gradient(top, #5bcc26 5%, #598f3e 100%);
	background:-webkit-linear-gradient(top, #5bcc26 5%, #598f3e 100%);
	background:-o-linear-gradient(top, #5bcc26 5%, #598f3e 100%);
	background:-ms-linear-gradient(top, #5bcc26 5%, #598f3e 100%);
	background:linear-gradient(to bottom, #5bcc26 5%, #598f3e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bcc26', endColorstr='#598f3e',GradientType=0);
	background-color:#5bcc26;
	border:1px solid #3b6e22;
	
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	/*padding:6px 12px;*/
	text-decoration:none;
    height:30px;
}

#preview_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #598f3e), color-stop(1, #5bcc26));
	background:-moz-linear-gradient(top, #598f3e 5%, #5bcc26 100%);
	background:-webkit-linear-gradient(top, #598f3e 5%, #5bcc26 100%);
	background:-o-linear-gradient(top, #598f3e 5%, #5bcc26 100%);
	background:-ms-linear-gradient(top, #598f3e 5%, #5bcc26 100%);
	background:linear-gradient(to bottom, #598f3e 5%, #5bcc26 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#598f3e', endColorstr='#5bcc26',GradientType=0);
	background-color:#598f3e;
}
#preview_button:focus {outline:0 !important;}
#preview_button:active {
	
	top:1px;
}

#newBar{
    width:100%;
    height:100px;
    background-color:black;
}
#form_button{
    width:30px;
  
    float:left;
  position: relative;
  right:60px;
  margin-top:4px;
  margin-left:50px;
}


.btn {
   
    /*float:right;*/
	-moz-box-shadow:inset 0px 1px 0px 0px #8ab876;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8ab876;
	box-shadow:inset 0px 1px 0px 0px #8ab876;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5bcc26), color-stop(1, #598f3e));
	background:-moz-linear-gradient(top, #5bcc26 5%, #598f3e 100%);
	background:-webkit-linear-gradient(top, #5bcc26 5%, #598f3e 100%);
	background:-o-linear-gradient(top, #5bcc26 5%, #598f3e 100%);
	background:-ms-linear-gradient(top, #5bcc26 5%, #598f3e 100%);
	background:linear-gradient(to bottom, #5bcc26 5%, #598f3e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bcc26', endColorstr='#598f3e',GradientType=0);
	background-color:#5bcc26;
    margin-top:4px;
	margin-left:6px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	/*padding:6px 12px;*/
	text-decoration:none;
    outline:0;
    height:30px;
    border-radius:0;
}
button:focus {outline:0 !important;}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #598f3e), color-stop(1, #5bcc26));
	background:-moz-linear-gradient(top, #598f3e 5%, #5bcc26 100%);
	background:-webkit-linear-gradient(top, #598f3e 5%, #5bcc26 100%);
	background:-o-linear-gradient(top, #598f3e 5%, #5bcc26 100%);
	background:-ms-linear-gradient(top, #598f3e 5%, #5bcc26 100%);
	background:linear-gradient(to bottom, #598f3e 5%, #5bcc26 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#598f3e', endColorstr='#5bcc26',GradientType=0);
	background-color:#598f3e;
}
.btn:active {
	
	top:1px;
}
#hide-test{
    width:90px;
    height:20px;
}